<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KYWebo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A97D3131F3C36F300AC7C82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A97D3271F3C36F400AC7C82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A97D3321F3C36F400AC7C82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
